* {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

body, html {
    height: 100%;
    width: 100%;
    font-family: 'Chakra Petch', sans-serif;
    background-color: rgb(6, 23, 37);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


header {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 12px 0px;
}

#header-text {
    font-size: 32px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.container {
    height: 60%;
    width: 40%;
    top: 15%;
    left: 30%;
    border-radius: 10px;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

#grid-info {
    position: fixed;
    color: rgb(255, 255, 255);
    top: 12%;
    left: 48%;
}
.utility-sec {
    height: 7%;
    width: 30%;
    position: fixed;
    top: 43%;
    left: -1%;
    border-radius: 19px;
    text-align: center;
}

.grid-input {
    text-decoration: none;
    border: 1px solid;
    border-radius: 19px;
    padding: 9px 18px;
    /* margin: 5px 1px; */
    background-position: 7px 7px;
}

#resize-btn {
    
    width: 20%;
    height: 5%;
    position: absolute;
    top: 50%;
    left: 4%;
    border: 0px;
    border-radius: 15px;
    background-color: rgb(2, 200, 144);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Chakra Petch', sans-serif;
    color: white;
}

#resize-btn:hover {
    background-color: rgb(2, 226, 163);
    cursor: pointer;
}

#clear-btn {
    width: 30%;
    height: 5%;
    position: absolute;
    top: 78%;
    left: 35%;
    border: 0px;
    border-radius: 19px;
    background-color: rgb(200, 2, 60);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Chakra Petch', sans-serif;
    color: white;
}

#clear-btn:hover {
    background-color: rgb(228, 0, 68);
    cursor: pointer;
}

#randomize-btn {
    width: 15%;
    height: 5%;
    position: absolute;
    top: 50%;
    left: 73%;
    border: 0px;
    border-radius: 19px;
    background-color: rgb(2, 144, 200);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Chakra Petch', sans-serif;
    color: white;
}

#randomize-btn:hover {
    background-color: rgb(2, 169, 235);
    cursor: pointer;
}


#color-wheel {
    position: fixed;
    top: 29%;
    left: 75.5%;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}


footer {
    position: absolute;
    width: 100%;
    height: auto;
    text-align: center;
    top: 96%;
}

#footer-text {
    font-size: 13px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}